<script src="/socket.io/socket.io.js"></script>
<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- <link rel='stylesheet' href='/style.css' /> -->


<style>

	body {
		background: #A6373F
	} 

	h1 {
		text-align: center;
		width: 100%;
		color: #FF7400;
		font-family: 'Titillium Web', sans-serif;
		font-size: 477%;
		margin-top: 20%;
	}

</style>


<h1></h2>

<script>

	var socket = io.connect('http://localhost');

	socket.on('updateTime', function(data){
	$('h1').text(data.updateTime);
		console.log(data);	
	});
</script>
</body>


